.CompanyCard {
  max-height: 300px;
  margin-bottom: 1rem;
  padding: 5px;
  border: none;
}

.CompanyCard img {
  width: 50px;
}

.CompanyCard:hover {
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}